body {
    padding-left: 1%;
}

form {
    display: inline-block; 
    vertical-align: top;
}

section:not(:first-of-type) {
    margin-top: 50px;
}

.control {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    min-width: 100px;
}

#demo-measure, #demo-fit {
    display: block;
    margin-top: 20px;
}

#demo-fit {
    width: 500px;
    background-color: #ccc;
    position: relative;
}

#demo-fit span {
    display: block;
    position: absolute;
}